*.iml
.gradle/
**/build/
local.properties
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.externalNativeBuild/
.cxx/
captures/
*.apk
*.aab
*.jks
*.keystore
keystore.properties
secrets.properties
.env
.DS_Store
Thumbs.db
